@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

section {
    padding: 20px;
}

section h1.title {
    margin: 10px 200px;
    font-size: 30px;
}


/*card one*/
.cards-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-one .card {
    position: relative;
    width: 300px;
    box-shadow: 1px 1px 20px #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 15px 15px;
}

.cards-one .card::after {
    content: '';
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #a92cc8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
}

.cards-one .card .image {
    border: 4px solid #fff;
    margin-top: 70px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.cards-one .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.cards-one .social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 35px;
}

.cards-one .social-media i {
    cursor: pointer;
    color: #fff;
    opacity: .7;
    transition: all .2s ease-in;
}

.cards-one .social-media i:hover {
    opacity: 1;
    transform: translateY(-2px) scale(1.8);
}

.cards-one .contents h1 {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}

.cards-one .contents h4 {
    margin-top: 5px;
    opacity: 0.5;
    text-align: center;
}

.cards-one .stars {
    color: #ebc415;
}


.cards-one .buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.cards-one .buttons a {
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
}

.cards-one .buttons a:first-child {
    border: 2px solid #a92cc8;
    background-color: transparent;
    color: #a92cc8;
}

.cards-one .buttons a:last-child {
    border: 2px solid transparent;
    background-color: #a92cc8
}

.cards-one .buttons a:first-child span {
    position: absolute;
    border-radius: 20px;
    width: 0;
    height: 100%;
    opacity: .9;
    z-index: -1;
    background-color: #a92cc8;
    top: 0;
    left: 0;
    transition: all .4s ease;
}

.cards-one .buttons a:first-child:hover span {
    width: 100%;
}

.cards-one .buttons a:first-child:hover {
    color: #fff;
}

.cards-one .buttons a:last-child:hover {
    background-color: #fff;
    border: 2px solid #a92cc8;
    color: #a92cc8;
}

/*end card one*/

.cards-two {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.cards-two .card {
    padding: 0 10px;
    box-shadow: 2px 2px 20px #ccc;
    width: 300px;
    margin: 15px;
    border-radius: 20px;
}

.cards-two .card-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1abf9d;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 25px 0;
    border-radius: 20px;
    box-shadow: 2px 5px 20px #ccc;
    position: relative;
    bottom: 30px;

}

.cards-two h1, h4 {
    text-align: center;
}

.cards-two .card-header h4 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
}

.cards-two .card-header h4{
    color: #fff;
}

.cards-two .card-header h1{
    color: #fff;
    letter-spacing: 2px;
}

.cards-two .card-header .photo {
    width: 100px;
    height: 100px;
    position: relative;
    border: 4px solid #fff;
    border-radius: 50%;
}

.cards-two .photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cards-two .card-body .contact {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #1abf9d;
}

.cards-two .contact i {
    font-size: 20px;
}

.cards-two .contact .numbers h3 {
    font-size: 17px;
}

.cards-two .contact .numbers h5 {
    font-weight: normal;
}

.cards-two .card-footer {
    display: flex;
    gap: 30px;
    background-color: #1abf9d;
    position: relative;
    top: 28px;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #ccc;

}

.cards-two .card-footer i {
    font-size: 25px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.cards-two .card-footer i:hover {
    color: #fff;
    transform: translateX(-10px) scale(1.7);
}
/*end card*/


.cards-tree{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    
}

.cards-tree .card{
    box-shadow: 2px 4px 20px #ccc;
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    background-color: #2f2e2f;
}

.cards-tree .card-content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 25px;
}

.cards-tree .card-content .photo{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #ac1374;
    bottom: 65px;
}

.cards-tree .card-content img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cards-tree .card-content .description{
    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-tree .card-content .description h1{
    color: #ac1374;
    letter-spacing: 2px;
}

.cards-tree .card-content .description h5{
    font-weight: normal;
    color: #fff;
    opacity: .7;
}

.cards-tree .card-content .description h4{
    font-weight: normal;
    color: #fff;
}

.cards-tree .card-content .social-media{
    position: relative;
    bottom: 40px;
    display: flex;
    gap: 15px;
}

.cards-tree .social-media a{
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #ac1374;
color: #fff;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
transition: all .4s ease-in;
}

.cards-tree .social-media a:hover{
transform: translateY(-5px) scale(1.2);
    }

.cards-tree .social-media a i{
   font-size: 25px;
}

.cards-tree .card-footer{
    background-color: #ac1374;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cards-tree .card-footer h6{
    font-weight: normal;
    font-size: 17px;
}